p {margin:0px; padding:0px; line-height:100%}
.cLinkHidden {position:absolute; visibility:hidden; left:0px; top:0px; width:0px; height:0px; overflow:hidden;}
#Page {overflow:hidden;position:relative;width:1000px;min-height:1235px;z-index:1;}
#PanelHeader {display:block;overflow:hidden;position:relative;float:left;margin-left:20px;width:960px;height:120px;z-index:2;}
#PanelHeaderAlpha {position:absolute;left:0px;top:0px;width:100%;height:100%;}
#PanelHeaderNoAlpha {position:relative;}
#Img9 {display:block;overflow:hidden;position:absolute;left:19px;top:11px;width:157px;height:88px;z-index:3;box-shadow:10px 10px 5px rgba(00,00,00,0.5);-webkit-box-shadow:10px 10px 5px rgba(00,00,00,0.5);-moz-box-shadow:10px 10px 5px rgba(00,00,00,0.5);border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
#Img9Inner {position:absolute;width:155px;height:86px;border: 1px outset rgba(0,0,0,1.0);border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
#Img9PopUp {display:none;overflow:hidden;z-index:999}
#Img9PopUpInner {position:absolute;width:1000px;height:586px;border:0px;overflow:hidden;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;}
#Img10 {display:block;overflow:hidden;position:absolute;left:587px;top:19px;width:67px;height:67px;z-index:4;box-shadow:10px 10px 5px rgba(00,00,00,0.5);-webkit-box-shadow:10px 10px 5px rgba(00,00,00,0.5);-moz-box-shadow:10px 10px 5px rgba(00,00,00,0.5);border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
#Img10Inner {position:absolute;width:67px;height:67px;border:0px;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
#Text6 {display:block;position:absolute;left:671px;top:20px;width:279px;height:73px;z-index:5;}
#Img11 {display:block;overflow:hidden;position:absolute;left:209px;top:9px;width:157px;height:88px;z-index:6;box-shadow:10px 10px 5px rgba(00,00,00,0.5);-webkit-box-shadow:10px 10px 5px rgba(00,00,00,0.5);-moz-box-shadow:10px 10px 5px rgba(00,00,00,0.5);border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
#Img11Inner {position:absolute;width:155px;height:86px;border: 1px outset rgba(0,0,0,1.0);border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
#Img11PopUp {display:none;overflow:hidden;z-index:999}
#Img11PopUpInner {position:absolute;width:680px;height:398px;border:0px;overflow:hidden;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;}
#Img12 {display:block;overflow:hidden;position:absolute;left:396px;top:9px;width:157px;height:88px;z-index:7;box-shadow:10px 10px 5px rgba(00,00,00,0.5);-webkit-box-shadow:10px 10px 5px rgba(00,00,00,0.5);-moz-box-shadow:10px 10px 5px rgba(00,00,00,0.5);border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
#Img12Inner {position:absolute;width:155px;height:86px;border: 1px outset rgba(0,0,0,1.0);border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
#Img12PopUp {display:none;overflow:hidden;z-index:999}
#Img12PopUpInner {position:absolute;width:680px;height:398px;border:0px;overflow:hidden;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;}
#PanelMenu {display:block;overflow:hidden;position:relative;float:left;margin-left:20px;width:960px;height:60px;z-index:8;}
#PanelMenuAlpha {position:absolute;left:0px;top:0px;width:100%;height:100%;}
#PanelMenuNoAlpha {position:relative;}
#BoxMenu1 {display:block;overflow:hidden;position:absolute;left:0px;top:0px;width:960px;height:60px;z-index:9;background:url('./images/produits_BoxMenu1.png');background-repeat:no-repeat;}
#BoxMenu2 {display:block;overflow:hidden;position:absolute;left:0px;top:48px;width:960px;height:12px;z-index:10;background:url('./images/produits_BoxMenu2.png');background-repeat:no-repeat;}
#But5 {display:block;overflow:hidden;position:absolute;left:21px;top:14px;width:159px;height:37px;z-index:11;background:url('./buttons/produits_But5.png');background-repeat:no-repeat;}
#But5.Up {background-position: 0 0;}
#But5.Down {background-position: -159px 0;}
#But5.Over {background-position: -318px 0;}
#But5 p {cursor:pointer;position:absolute;z-index:2;font-weight:bold;font-style:italic;font-family:Tahoma;font-size:16px;color:#FFFF00;}
#But5.Up p {top:11px;left:27px;}
#But5.Down p {top:12px;left:28px;}
#But5.Over p {top:11px;left:27px;}
#But5 div {display:none;}
#But6 {display:block;overflow:hidden;position:absolute;left:188px;top:14px;width:159px;height:37px;z-index:12;background:url('./buttons/produits_But5.png');background-repeat:no-repeat;}
#But6.Up {background-position: 0 0;}
#But6.Down {background-position: -159px 0;}
#But6.Over {background-position: -318px 0;}
#But6 p {cursor:pointer;position:absolute;z-index:2;font-weight:bold;font-style:italic;font-family:Tahoma;font-size:16px;color:#FFFF00;}
#But6.Up p {top:11px;left:48px;}
#But6.Down p {top:12px;left:49px;}
#But6.Over p {top:11px;left:48px;}
#But6 div {display:none;}
#But7 {display:block;overflow:hidden;position:absolute;left:352px;top:12px;width:159px;height:37px;z-index:13;background:url('./buttons/produits_But5.png');background-repeat:no-repeat;}
#But7.Up {background-position: 0 0;}
#But7.Down {background-position: -159px 0;}
#But7.Over {background-position: -318px 0;}
#But7 p {cursor:pointer;position:absolute;z-index:2;font-weight:bold;font-style:italic;font-family:Tahoma;font-size:16px;color:#FFFF00;}
#But7.Up p {top:11px;left:39px;}
#But7.Down p {top:12px;left:40px;}
#But7.Over p {top:11px;left:39px;}
#But7 div {display:none;}
#But8 {display:block;overflow:hidden;position:absolute;left:519px;top:11px;width:159px;height:37px;z-index:14;background:url('./buttons/produits_But5.png');background-repeat:no-repeat;}
#But8.Up {background-position: 0 0;}
#But8.Down {background-position: -159px 0;}
#But8.Over {background-position: -318px 0;}
#But8 p {cursor:pointer;position:absolute;z-index:2;font-weight:bold;font-style:italic;font-family:Tahoma;font-size:16px;color:#FFFF00;}
#But8.Up p {top:11px;left:39px;}
#But8.Down p {top:12px;left:40px;}
#But8.Over p {top:11px;left:39px;}
#But8 div {display:none;}
#PanelCenter {display:block;overflow:hidden;position:relative;float:left;margin-left:20px;width:960px;min-height:600px;z-index:15;}
#PanelCenterAlpha {position:absolute;left:0px;top:0px;width:100%;height:100%;}
#PanelCenterNoAlpha {position:relative;}
#DecoEdit {display:block;overflow:hidden;position:absolute;left:20px;top:0px;width:920px;height:600px;z-index:16;}
#DecoEditInner {position:absolute;width:920px;height:600px;border:0px;}
#PanelBanner {display:block;overflow:hidden;position:relative;float:left;width:960px;height:120px;z-index:17;}
#PanelBannerAlpha {position:absolute;left:0px;top:0px;width:100%;height:100%;}
#PanelBannerNoAlpha {position:relative;}
#BoxBanner1 {display:block;overflow:hidden;position:relative;float:left;width:960px;height:120px;z-index:18;background:url('./images/produits_BoxBanner1.png');background-repeat:no-repeat;}
#Text2 {display:block;position:absolute;left:0px;top:-41px;margin-left:20px;margin-top:70px;margin-right:20px;width:920px;height:60px;z-index:19;}
#PanelBlocs {display:block;overflow:hidden;position:relative;float:left;width:960px;min-height:480px;z-index:20;padding-bottom:10px;}
#PanelBlocsAlpha {position:absolute;left:0px;top:0px;width:100%;height:100%;}
#PanelBlocsNoAlpha {position:relative;}
#Box3 {display:block;overflow:hidden;position:relative;float:left;width:240px;height:480px;z-index:21;background:url('./images/produits_Box3.png');background-repeat:no-repeat;}
#GESTION {display:block;overflow:hidden;position:absolute;left:50px;top:10px;width:170px;height:20px;z-index:22;white-space:normal;}
#Img3 {display:block;overflow:hidden;position:absolute;left:10px;top:5px;width:30px;height:30px;z-index:23;}
#Img3Inner {position:absolute;width:30px;height:30px;border:0px;}
#Img8 {display:block;overflow:hidden;position:absolute;left:20px;top:60px;width:203px;height:108px;z-index:24;box-shadow:10px 10px 5px rgba(00,00,00,0.5);-webkit-box-shadow:10px 10px 5px rgba(00,00,00,0.5);-moz-box-shadow:10px 10px 5px rgba(00,00,00,0.5);border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
#Img8Inner {position:absolute;width:201px;height:106px;border: 1px outset rgba(0,0,0,0.5);border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
#Img8PopUp {display:none;overflow:hidden;z-index:999}
#Img8PopUpInner {position:absolute;width:800px;height:443px;border:0px;overflow:hidden;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;}
#But2 {display:block;overflow:hidden;position:absolute;left:30px;top:410px;width:159px;height:35px;z-index:25;background:url('./buttons/produits_But2.png');background-repeat:no-repeat;}
#But2.Up {background-position: 0 0;}
#But2.Down {background-position: -159px 0;}
#But2.Over {background-position: -318px 0;}
#But2 p {cursor:pointer;position:absolute;z-index:2;font-weight:bold;font-family:Arial;font-size:11px;color:#FFFFFF;}
#But2.Up p {top:13px;left:50px;}
#But2.Down p {top:14px;left:51px;}
#But2.Over p {top:13px;left:50px;}
#But2 div {display:none;}
#Text1 {overflow:auto;overflowX:hidden;overflowY:hidden;display:none;position:absolute;left:10px;top:159px;margin-left:20px;margin-top:70px;margin-right:20px;width:180px;height:160px;z-index:26;}
#Box1 {display:block;overflow:hidden;position:relative;float:left;width:240px;height:480px;z-index:27;background:url('./images/produits_Box3.png');background-repeat:no-repeat;}
#Titre1 {display:block;overflow:hidden;position:absolute;left:50px;top:10px;width:170px;height:20px;z-index:28;white-space:normal;}
#Img1 {display:block;overflow:hidden;position:absolute;left:10px;top:5px;width:30px;height:30px;z-index:29;}
#Img1Inner {position:absolute;width:30px;height:30px;border:0px;}
#Img2 {display:block;overflow:hidden;position:absolute;left:20px;top:60px;width:190px;height:106px;z-index:30;box-shadow:10px 10px 5px rgba(00,00,00,0.5);-webkit-box-shadow:10px 10px 5px rgba(00,00,00,0.5);-moz-box-shadow:10px 10px 5px rgba(00,00,00,0.5);border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
#Img2Inner {position:absolute;width:188px;height:104px;border: 1px outset rgba(0,0,0,0.5);border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
#Img2PopUp {display:none;overflow:hidden;z-index:999}
#Img2PopUpInner {position:absolute;width:1000px;height:580px;border:0px;overflow:hidden;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;}
#Text3 {overflow:auto;overflowX:hidden;overflowY:hidden;display:block;position:absolute;left:10px;top:159px;margin-left:20px;margin-top:70px;margin-right:20px;width:180px;height:160px;z-index:31;}
#But1 {display:block;overflow:hidden;position:absolute;left:30px;top:410px;width:159px;height:35px;z-index:32;background:url('./buttons/produits_But2.png');background-repeat:no-repeat;}
#But1.Up {background-position: 0 0;}
#But1.Down {background-position: -159px 0;}
#But1.Over {background-position: -318px 0;}
#But1 p {cursor:pointer;position:absolute;z-index:2;font-weight:bold;font-family:Arial;font-size:11px;color:#FFFFFF;}
#But1.Up p {top:13px;left:50px;}
#But1.Down p {top:14px;left:51px;}
#But1.Over p {top:13px;left:50px;}
#But1 div {display:none;}
#Box2 {display:block;overflow:hidden;position:relative;float:left;width:240px;height:480px;z-index:33;background:url('./images/produits_Box3.png');background-repeat:no-repeat;}
#Titre2 {display:block;overflow:hidden;position:absolute;left:50px;top:10px;width:170px;height:20px;z-index:34;white-space:normal;}
#Img4 {display:block;overflow:hidden;position:absolute;left:10px;top:5px;width:30px;height:30px;z-index:35;}
#Img4Inner {position:absolute;width:30px;height:30px;border:0px;}
#Img5 {display:block;overflow:hidden;position:absolute;left:20px;top:60px;width:199px;height:106px;z-index:36;}
#Img5Inner {position:absolute;width:197px;height:104px;border: 1px solid rgba(0,0,0,0.5);}
#Text4 {display:block;position:absolute;left:10px;top:159px;margin-left:20px;margin-top:70px;margin-right:20px;width:180px;height:160px;z-index:37;}
#But3 {display:block;overflow:hidden;position:absolute;left:39px;top:410px;width:159px;height:35px;z-index:38;background:url('./buttons/produits_But2.png');background-repeat:no-repeat;}
#But3.Up {background-position: 0 0;}
#But3.Down {background-position: -159px 0;}
#But3.Over {background-position: -318px 0;}
#But3 p {cursor:pointer;position:absolute;z-index:2;font-weight:bold;font-family:Arial;font-size:11px;color:#FFFFFF;}
#But3.Up p {top:13px;left:50px;}
#But3.Down p {top:14px;left:51px;}
#But3.Over p {top:13px;left:50px;}
#But3 div {display:none;}
#Box4 {display:block;overflow:hidden;position:relative;float:left;width:240px;height:480px;z-index:39;background:url('./images/produits_Box3.png');background-repeat:no-repeat;}
#Titre4 {display:block;overflow:hidden;position:absolute;left:50px;top:10px;width:170px;height:20px;z-index:40;white-space:normal;}
#Img6 {display:block;overflow:hidden;position:absolute;left:10px;top:5px;width:30px;height:30px;z-index:41;}
#Img6Inner {position:absolute;width:30px;height:30px;border:0px;}
#Img7 {display:block;overflow:hidden;position:absolute;left:20px;top:60px;width:190px;height:99px;z-index:42;box-shadow:10px 10px 5px rgba(00,00,00,0.5);-webkit-box-shadow:10px 10px 5px rgba(00,00,00,0.5);-moz-box-shadow:10px 10px 5px rgba(00,00,00,0.5);border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
#Img7Inner {position:absolute;width:188px;height:97px;border: 1px solid rgba(0,0,0,0.5);border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
#Img7PopUp {display:none;overflow:hidden;z-index:999}
#Img7PopUpInner {position:absolute;width:800px;height:437px;border:0px;overflow:hidden;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;}
#Text5 {overflow:auto;overflowX:hidden;overflowY:hidden;display:block;position:absolute;left:10px;top:159px;margin-left:20px;margin-top:70px;margin-right:20px;width:180px;height:160px;z-index:43;}
#But4 {display:block;overflow:hidden;position:absolute;left:30px;top:410px;width:159px;height:35px;z-index:44;background:url('./buttons/produits_But2.png');background-repeat:no-repeat;}
#But4.Up {background-position: 0 0;}
#But4.Down {background-position: -159px 0;}
#But4.Over {background-position: -318px 0;}
#But4 p {cursor:pointer;position:absolute;z-index:2;font-weight:bold;font-family:Arial;font-size:11px;color:#FFFFFF;}
#But4.Up p {top:13px;left:50px;}
#But4.Down p {top:14px;left:51px;}
#But4.Over p {top:13px;left:50px;}
#But4 div {display:none;}
#PanelFooter {display:block;overflow:hidden;position:relative;float:left;margin-left:20px;width:952px;height:445px;z-index:45;}
#PanelFooterAlpha {position:absolute;left:0px;top:0px;width:100%;height:100%;}
#PanelFooterNoAlpha {position:relative;}
#BoxFooter1 {display:block;overflow:hidden;position:relative;float:left;width:960px;height:60px;z-index:46;background:url('./images/produits_BoxMenu1.png');background-repeat:no-repeat;}
#BoxFooter2 {display:block;overflow:hidden;position:absolute;left:0px;top:0px;width:960px;height:12px;z-index:47;background:url('./images/produits_BoxMenu2.png');background-repeat:no-repeat;}
#Compteur1 {display:block;overflow:hidden;position:absolute;left:30px;top:6px;width:183px;height:48px;z-index:48;}
#Text7 {display:block;position:absolute;left:219px;top:19px;width:241px;height:34px;z-index:49;}
#ObjWeb1 {display:block;overflow:hidden;position:absolute;left:19px;top:65px;width:290px;height:375px;z-index:50;}
#ObjWeb2 {display:block;overflow:hidden;position:absolute;left:317px;top:65px;width:627px;height:373px;z-index:51;}
